@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');


body{
    scroll-behavior: smooth;
    background-image: url("imgs/bg.svg");
    background-attachment: fixed;
    background-size:contain;
}
ul{
    list-style: none;
}
i{
    cursor: pointer;
}
a, a:link, a:visited  {
    text-decoration: none !important;
    color: #002080!important;
    cursor:pointer
}  
.my-color{
    color: #002080 !important;
}
button:focus{
    outline: 0 !important;
}

.content{
    position: relative;
    -webkit-animation-name: contentAnimation;
    -webkit-animation-duration: 1s;
    animation-name: contentAnimation;
    animation-duration: 1s;
    font-family: 'Noto Serif JP',serif;
    height: 89vh;
    z-index: 100;
} 

.contact-icons{
    position: fixed;
    right:  5%;
    top: 2.5%;
    opacity: .8;
    z-index: 1000;
}
.contact-icons > li {
    display: inline-block;
    padding: 4px;
    margin-right: 5px;
}


@keyframes contentAnimation{
    0%{right: -300px; opacity: 0;}
    100%{right: 0 ; opacity:1}
}

/* loader */

.myGreeting{
    color: #0000C6;
}

.myTitle {
    color: #0033cc;
}


/* call to action button class */
.cta{
    width: 115px;
    padding: 5px ;
    color: #cc0000 !important;
    border-color: #cc0000 !important;
    font-weight: bold !important;
    margin-top: 3px;
    border-radius: 100px !important;
    background-color: transparent;
    transition: all .5s ease-in-out !important;
}

.cta:hover{
    background-color: #cc0000 !important;
    color: #ffffff !important;
}

.myBtn{
    width: 120px;
    padding: 5px ;
    color: #002080 !important;
    border-color: #002080 !important;
    /* border-color: transparent; */

    font-weight: bold !important;
    margin-top: 3px;
    border-radius: 100px !important;
    background-color: transparent;
    transition: all .5s ease-in-out !important;
}
.myBtn:hover{
    background-color: #002080 !important;
    color: #ffffff !important;
}
/* skills animation */

.skill{
animation: grow 2s  infinite ;
}

@keyframes grow {
    0%{transform: scale(1);}
    50%{transform: scale(1.1);}
    100%{transform: scale(1);}
}



.shadow{
    box-shadow: 2px 2px 1px rgba(34, 34, 34, 0.75);
}


.northWay{
    height: 80%;
}


.text-focus-in {
	-webkit-animation: text-focus-in 3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both ;
	        animation: text-focus-in 3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both 
}

 @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }

  .links{
    animation: opacity 2s  infinite;
    transition:linear;    
  }


  @keyframes opacity {
      0%{ opacity: 1;}
      50%{ opacity: .8;}
      75%{ opacity: .5;}
      100%{ opacity: 1;}
  }

