@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');


body{
    scroll-behavior: smooth;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%230066cc'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(169,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='3.3'%3E%3Cpath transform='translate(-84 19.2) rotate(12 1409 581) scale(1.048)' d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='1.1' transform='translate(-48 48) rotate(14.4 800 450) scale(1.024)' cx='500' cy='100' r='40'/%3E%3Cpath transform='translate(43.2 -144) rotate(144 401 736) scale(1.024)' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='1'%3E%3Cpath transform='translate(288 -19.2) rotate(4.8 150 345) scale(0.952)' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='2.2' transform='translate(-192 -120) rotate(172.8 1089 759)' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='translate(-288 96) rotate(28.8 1400 132)' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}
ul{
    list-style: none;
}
i{
    cursor: pointer;
}
a{
    color: #cc0000 !important;
    font-weight: bold;
}
a:link {
    text-decoration: none !important;
    cursor:pointer
}  
.my-color{
    color: #002080;
}
button:focus{
    outline: 0 !important;
}

.content{
    position: relative;
    -webkit-animation-name: contentAnimation;
    -webkit-animation-duration: 2s;
    animation-name: contentAnimation;
    animation-duration: 1s;
    font-family: 'Noto Serif JP',serif;
    height: 100vh;
} 

.contact-icons{
    position: fixed;
    right:  5%;
    top: 3.5%;
    opacity: .8;
    z-index: 1000;
}
.contact-icons > li {
    display: inline;
    margin-right:5px ;
}
/* .font{
    font-family: 'Indie Flower', cursive;
} */
/* loader */
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    z-index: 10000;
}
 .spin{
    position: absolute;    
    left: 52%;
    top: 50%; 
    width: 120px;
    height: 120px;
    z-index: 1;
    margin: -76px 0 0 -76px;    
    border: 10px solid #f3f3f3f3;
    border-radius: 50%;
    border-top: 10px solid rgba(0, 63, 180, 0.966)  ;
    border-bottom: 10px solid rgba(27, 126, 255, 0.966)  ;
    animation: spinner 1s  linear  infinite;
}  


 @keyframes spinner {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}


@keyframes contentAnimation{
    0%{right: -300px; opacity: 0;}
    100%{right: 0 ; opacity:1}
}

/* loader */


.landing{
    background-image: url('imgs/wave.svg');
    background-repeat: no-repeat;
    background-position: bottom;
}
.myGreeting{
    color: #0000C6;
}

.myTitle {
    color: #0033cc;
}


.icon{ 
    position: absolute;
    animation: moving 10s ease-in-out  infinite;
    display: inline-block;
    height: 15vh;
    color: #002080;

}




@keyframes moving {
    0%{left: 20%;}
    25%{left: 50%;}
    50%{left: 75%;}
    75%{left: 50%;}
    100%{left:20%}

}

/* call to action button class */
.cta{
    
    color: #cc0000 !important;
    border-color: #cc0000 !important;
    font-weight: bold !important;
    margin-top: 3px;
    border-radius: 100px !important;
    background-color: transparent;
    transition: all 1s ease-in-out !important;

}

.cta:hover{
    background-color: #cc0000 !important;
    color: #ffffff !important;
}

/* skills animation */

.skill{
animation: grow 2s  infinite ;
}

@keyframes grow {
    0%{transform: scale(1);}
    50%{transform: scale(1.1);}
    100%{transform: scale(1);}
}



.shadow{
    box-shadow: 2px 2px 1px rgba(34, 34, 34, 0.75);

}


.northWay{
    height: 80%;
}


.text-focus-in {
	-webkit-animation: text-focus-in 3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both ;
	        animation: text-focus-in 3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both 
}

 @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  

  /* .contact-image{
      background-image: url(/imgs/contact.png);
      background-repeat: no-repeat;
      background-size: cover;
  } */